html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Heebo', sans-serif;
    background-color: rgb(255, 255, 255);
    margin:0em;
}

a{
    text-decoration: none;
    color:#FFFFFF;
}

fieldset{
    border-style: none;
    border: none;
}

.container{
    margin-left: 3vh;
    margin-right: 3vh;
}

header{
    height: 70vh;
    animation: gradient 100s ease infinite;
    background:linear-gradient(-45deg, #000c34, #154B74, #000b35, #000c34) no-repeat;
    background-size:200% 200%;
    box-shadow: inset 0px -5px 20px -2px #021435;
    display: grid;
    grid-template-rows: 1fr 6fr;
    align-items: center;
}

footer{
    background-color: #EBE645;
}

.header-title{
    color: #FFFFFF;
    place-items: center;
    font-weight: 400;
    font-size: 3em;
}

.h1-call{
    color: #EBE645;
    border-bottom: 0.1em solid #EBE645;
    padding-bottom: 0.25em;
    line-height: 2em;
    font-weight: 800;
}

nav{
    margin: 0em 0em 0em 0em;
}

.main-logo{
    margin-top: 4em;
    text-align: center;
}


.menu-header{
    list-style: none;
    padding: 1em 1em 1em 1.25em;
    margin: 0em 0em 0em 0em;
}

.menu-header-submenu{
    display: block;
    grid-auto-flow: column;
    grid-gap: 1em;
    text-align: center;
    margin-top: 1em;
    background-color: none;
    border-bottom: 0em solid #ebe64500;
}

.menu-header-item{
    line-height: 1.75em;
}

.menu-header-item:hover{
    color:#EBE645;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 1em;
    border-bottom: 0.1em solid #EBE645;
    transition: 1s;
}

.menu-header-brand{
    width: 100%;
    text-align: center;
}

.menu-header-item-logo{
    vertical-align: middle;
    padding-left: 0.5em;
    border: none;
}

.main-section{
    color: #021435;
    text-align: center;
    padding: 2em 10em 2em 10em;
    margin: 0em 0em 2em 0em;
    display: grid;
    justify-content: space-around;
}

.main-section-contents{
    width: 1000px;
}

.main-section p{
    font-size: 1.2em;
    line-height: 1.5em;
}

.main-section h2{
    text-align: center;
    font-size: 2.25em;
    padding: 0em 0em 1.5em 0em;
}

.contact-div{
    background-image:url(background_contact.jpg);
    height: max-content;
    padding: 2em 0em 2em 0em;
    animation: movebackground 50s ease infinite;
}

.contact-section{
    display: grid;
    justify-content: space-around;
}

.contact-section h2{
    color: #EBE645;
    text-align: center;
    font-size: 2.25em;
    padding: 0em 0em 1em 0em;
    margin: 1em 0em 1em 0em;
}


.footer-section{
    color: #021435;
    font-weight: 600;
    text-align: center;
    padding: 2em 10em 2em 10em;
    margin: 0em 0em 0em 0em;    
}




/* FORMS - One Element*/

.form-one-element{
    display: flex;
    padding: 0em;
}

.form-one-element label{
    display: grid;
    width: 100%;
    color: #FFFFFF;
}

.form-one-element label legend{
    padding: 1em 0em 1em 0em;
    font-size: 1.1em;
}

.form-one-element label input{
    height: 2.35em;
    font-size: 1.1em;
    border-radius: 0.5em;
    padding: 0.5em;
}

.form-one-element label input:hover{
    border:0.1em solid #EBE645;
    transition: 0.5s;
}

#mensagem{
    height: 200px;
    overflow: auto;
    resize: vertical;
    border-radius: 0.5em;
    padding: 1em;
    font-size: 1.2em;
}

#mensagem:hover{
    border:0.1em solid #EBE645;
    transition: 0.5s;
}

/* FORMS - Three Element*/

.form-three-elements{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 2em;
    padding: 0em;
}

.form-three-elements label{
    display: grid;
    color: #FFFFFF;
}

.form-three-elements label legend{
    padding: 1em 0em 1em 0em;
    font-size: 1.1em;
}

.form-three-elements label input{
    height: 2.35em;
    font-size: 1.1em;
    border-radius: 0.5em;
    padding: 0.5em;
}

.form-three-elements label input:hover{
    border:0.1em solid #EBE645;
    transition: 0.5s;
}


/* FORMS - Button*/

.contact-button{
    margin: 2.5em 0em 2.5em 0em;
    background-color: #FFFFFF;
    border: none;
    width: 15em;
    padding: 0.75em;
    border-radius: 0.5em;
    color: #021435;
    font-size: 1em;
    cursor:pointer;
    align-self: flex-end;
}

.contact-button:hover{
    background-color:#EBE645;
    color: #021435;
    transition: 1s;
}


/* ANIMATIONS */

.slide-container{
    width: 100%;
    overflow: hidden;
}

#slide {
    display: flex;
}

#slide > * {
    animation: 12s slide_opacity_animation infinite linear; 
    position: absolute; 
    top: 27vh; 
    left: 0; 
    opacity: 0.0
}

@keyframes slide_opacity_animation {
    0% {opacity: 0.0}
    10% {opacity: 1.0}
    33.33% {opacity: 1.0}
    37.33% {opacity: 0.0}
    100% {opacity: 0.0}
}

#slide > *:nth-child(1) {animation-delay: 0s}
#slide > *:nth-child(2) {animation-delay: 6s}

#slide:hover h1{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused; 
}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }
    
    100%{
        background-position: 0% 50%;
    }
}


@keyframes movebackground {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 100%;
    }
    
    100%{
        background-position: 0% 50%;
    }    
}

/* QUERY */

@media screen and (min-width:1440px){
    .container{
        margin-left: 25vh;
        margin-right: 25vh;
    }
    
}


@media screen and (min-width:1024px) and (max-width:1440px){
    .container{
        margin-left: 10vh;
        margin-right: 10vh;
    }

}

@media screen and (max-width:1024px){

    .contact-div{
        padding: 2em 1em 2em 1em;
    }

    .contact-section{
        display: block;
        justify-content:unset;
        margin: 0em 0.5em 0em 0.5em;
    }

    .form-three-elements{
        display: inline-block;
        width: 100%;
    }

    .contact-button{
        width: 100%;
    }

    .main-section-contents{
        width: 100%;
        text-align: left;
    }

}

@media screen and (min-width:768px) {

    nav{
        margin: 0em 2em 0em 2em;
    }

    .menu-header-brand{
       width: 10em;
       text-align: center;
    }

    .menu-header{
        display: grid;
        grid-auto-flow: column;
        text-align: center;
    }

    .menu-header-submenu{
        display: grid;
        grid-auto-flow: column;
        grid-gap: 2em;
        text-align: center;
        margin-top: 0em;
        justify-content: end;
        align-content: center;
    }   

}

@media screen and (max-width:768px) {

    header{
        height:90vh;
    }

    #slide > *{
        animation: 12s slide_opacity_animation infinite linear;
        position: absolute;
        top: 40vh;
        left: 0;
        opacity: 0.0;    
    }

    .main-section{
        color: #021435;
        text-align: center;
        padding: 2em 2em 2em 2em;
        margin: 0em 0em 2em 0em;
    }

    #slide > *{
        font-size: 2.4em;
    }

    .footer-section{
        padding: 2em 2em 2em 2em;
    }

    .menu-header-submenu{
        margin-bottom: 2em;
    }

    .menu-header-submenu li{
        padding: 0.5em 0em 0.5em 0em;
    }

    .menu-header-item{
        line-height: 1.75em;
    }
    
    .menu-header-item:hover{
        color:#EBE645;
        font-weight: 600;
        cursor: pointer;
        padding-bottom: 1em;
        border-bottom:none;
    }

}
